body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: black;
}

.main-and-aside{
    margin: 1rem;
}

img{
    max-width: 100%;
    display: block;
    object-fit: cover;
}

h1,h2{
    font-weight: 900;
    
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: black;
}

.logo a{
    text-decoration: none;
    color: black;
}

.search-icon{
    max-width: 18px;
}

.nav-list{
    border: 2px solid red;
    list-style: none;
    padding-left: 0;

}

main{
    border: 2px solid red;
}
.hero-section{
    border: 2px solid red;
    padding: 1rem 1.1rem;
    max-width: 900px;
    /* text-align: center; */
}

.sidebar{
    border: 2px solid red;
}

.split {
    display: flex;
    flex-direction: column;
}

.socials img{
    max-width: 50%;
}





